<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047978402104-rk6gbcl4jgcnlpj16udv739fauiql4m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047978402104-rk6gbcl4jgcnlpj16udv739fauiql4m6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1047978402104-1t41ufankjveqthp74vatbgcttn1fmfm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWXzhdT2QX1VxJlueLGeYKE1VZWh4ITwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1047978402104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.heino.projectstobi</string>
	<key>PROJECT_ID</key>
	<string>projektstobi</string>
	<key>STORAGE_BUCKET</key>
	<string>projektstobi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047978402104:ios:b0dbe498ad1b64567421cd</string>
	<key>DATABASE_URL</key>
	<string>https://projektstobi.firebaseio.com</string>
</dict>
</plist>